# Environment variables for integrity-testing-pipeline
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=orders
POSTGRES_DB=integrity_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DUCKDB_PATH=:memory:
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
